*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(14, 13, 13);
    color: antiquewhite;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type=text]{
    font-size : 20px;
}
ul.tasks{
    height: 50dvh;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 5px;
}
ul.tasks li{
    list-style-type: none;
    border: 1px solid wheat;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}